/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* /IMPORTS */


/* RESET  */
*, html, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* VARIABLES */
:root {

  /* COLORS */
  --azure: #3a7ca5;
  --darkBlue: #16425b;
  --lightBlue: #99e3f8;
  --lightPurple: #e2dffa;
  --purple: #2e0db0;

  /* FONTS */
  --logoFont: 'Questrial';
  --textFont: 'Poppins';
}