/* HERO */
section#hero {
  font-family: var(--textFont);
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  background-color: var(--darkBlue);
  color: white;
  padding: 32px 24px;
}

strong {
  font-weight: 700;
}

section#hero .main-title {
  font-size: 2.5em;
  font-weight: 400;
}

section#hero .main-title .emp-dot {
  color: var(--lightBlue);
  font-weight: 700;
  margin-left: -3%;
  padding: 0px;
}

section#hero .slogan {
  color: rgba(255, 255, 255, 0.801);
  font-size: 0.8em;
  max-width: 90%;
  text-align: start;
  margin-bottom: 8px;
}

div.hero-nav {
  display: flex;
  flex-flow: column nowrap;
  gap: 6px;
}

section#hero div.hero-nav button.redirect-services {
  font-family: var(--textFont);
  width: fit-content;
  font-size: 0.8em;
  font-weight: 400;
  background-color: white;
  color: var(--azure);
  border-radius: 48px;
  border: none;
  padding: 8px 12px;
  transition: 0.3s ease;
}

section#hero div.hero-nav button:hover {
  transform: scale(1.05);
}

section#hero div.hero-nav button:active {
  transform: scale(0.9);
}

section#hero div.hero-nav button.schedule {
  font-family: var(--textFont);
  background-color: var(--azure);
  font-weight: 300;
  color: white;
  border-radius: 48px;
  width: fit-content;
  border: none;
  padding: 8px 14px;
  font-size: 0.8em;
  transition: 0.3s ease;
}

section#services {
  font-family: var(--textFont);
  gap: 24px;
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
}

section#services .services-title {
  font-family: var(--textFont);
  text-align: center;
  font-size: 1.4em;
  color: var(--purple);
  font-weight: 600;
}

section#services div.services-container {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

section#services .service {
  font-family: var(--textFont);
  padding: 8px;
  border-radius: 8px;
  width: 40%;
  gap: 6px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.service.purple {
  background-color: var(--lightPurple);
  color: var(--purple);
}

.service.blue {
  background-color: var(--pastelBlue);
  color: var(--darkBlue);
}

section#services .service .body {
  display: flex;
  flex-flow: column nowrap;
  gap: 0px;
}

.service .body .label {
  font-size: 0.5em;
  font-weight: 400;
}

.service .body .service-name {
  font-size: 1em;
  margin-top: -5px;
  font-weight: 700;
}

section#services .service .icon {
  width: 26px;
  margin-bottom: 12px;
}

