section#services {
  font-family: var(--textFont);
  gap: 24px;
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
}

section#services .services-title {
  font-family: var(--textFont);
  text-align: center;
  font-size: 1.4em;
  color: var(--purple);
  font-weight: 600;
}

section#services div.services-container {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

section#services .service {
  font-family: var(--textFont);
  padding: 8px;
  border-radius: 8px;
  width: 40%;
  gap: 6px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.service.purple {
  background-color: var(--lightPurple);
  color: var(--purple);
}

.service.blue {
  background-color: var(--pastelBlue);
  color: var(--darkBlue);
}

section#services .service .body {
  display: flex;
  flex-flow: column nowrap;
  gap: 0px;
}

.service .body .label {
  font-size: 0.5em;
  font-weight: 400;
}

.service .body .service-name {
  font-size: 1em;
  margin-top: -5px;
  font-weight: 700;
}

section#services .service .icon {
  width: 26px;
  margin-bottom: 12px;
}

@media screen and (min-width: 1024px) {
  section#services .services-title {
    font-size: 1.6em;
  }

  section#services div.services-container {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    width: 86%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  section#services .service {
    width: 30%;
  }
}

@media screen and (min-width: 1440px) {
  .service .body .label {
    font-size: 0.8em;
  }

  .service .body .service-name {
    font-size: 1.3em;
  }

  section#services .service .icon {
    width: 32px;
  }
}
